<%- include('partials/header') -%>
<h1> <%= title %> </h1>
<p> <%= startContent %> </p>
<% if (blogs != '') { %>
    <% blogs.forEach((row, index) => { %> 
        <div class="post">
            <h3> <%= row.title %> </h3>
                <p>
                    <%=row.content.substring(0,100)%>
                    <a href="/blogs/<%=row.id%>">Read More</a>
                    </p>            
        </div>
        <% }) %> 
    
    <% } else { %>
        <br><br>
        <br><br><br>
        <p class="text-center text-secondary">Nothing Found</p>
    <% } %>

<%- include('partials/footer') -%>